body {
    font-family: 'Jua', sans-serif;
    background:linear-gradient(
        295deg,
        rgba(133, 255, 72, 0.65),
        rgba(16, 218, 97, 0.65)
      )
  }

  canvas{
    margin: 0 auto;
}

  

  #logo_container,#file_container
  {
    text-align: center;
  }

  #logo_container{
    animation-duration: 1s;
    animation-name: slidein;
  }

  #file_container{
    animation-duration: 1.5s;
    
    animation-name: slidein2;
  }

  .file-upload {
    background-color: #ffffff;
    width: 400px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border:8px solid rgb(181, 104, 204);
    box-shadow: 0px 8px 20px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;

  }


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
      
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      
    }
  }

  @keyframes slidein2 {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      
    }
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }



#logo_block{
    width:500px;
    display: inline-block;
    margin-bottom: 10px;
}

#logo_text{
    font-size: 30px;
    color:#333;
    font-weight: 300;
}

.result-message{
  font-size: 30px;
}


footer{
  font-size: 12px;
  margin-top:100px;
  background-color: #39424c;
  padding:40px;
  color:#b2bbc3;
}

footer #brand{
  border-bottom: 1px solid gray;
  padding: 0 0 12px 0;
  margin-bottom: 10px;
}

#brand span{
  font-size: 14px;
  display: inline;
  vertical-align: baseline;
}

#footer_info span strong{
  color:#b2bbc3;
  font-weight: 300;
}
#footer_info span{
  margin-right: 50px;
  color:#647586
}

#loading {
  display: none;
}

.result-image{
  display: none;
}

#label-container {
  width: 40%;
  margin: 0 auto;
}

.animal-label {
  width: 20%;
  text-align: left;
  height: 2rem;
}

.bar-container {
  height: 2.7rem;
}

.percent-text {
  font-size: 1rem;
  color: #ffffff;
}


.test1-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.test1-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}


.test2-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color:rgba(49, 132, 155, 0.2);
}
.test2-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}



.test3-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.test3-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}



.test4-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.test4-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color:rgba(251, 176, 59, 1);
}

#result-box1{
  text-align: center;
}

