body {
    font-family: 'Jua', sans-serif;
    background:linear-gradient(
        295deg,
        rgba(154, 72, 255, 0.65),
        rgba(16, 218, 97, 0.65)
      )
  }

  canvas{
    margin: 0 auto;
}

  #container{
      text-align: center;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 400px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border:8px solid rgb(181, 104, 204);
    box-shadow: 0px 8px 20px 6px rgba(0, 0, 0, 0.6);
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }


  /* 네비게이션 */
  #navigation{
    width: 100%;
    height: 60px;
    padding-left: 5%;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    
}

#navigation ul{
    margin-bottom: 15px;
}

#navigation ul li{
    float: left;
    padding-left: 50px;
    list-style: none;
    
}

#navigation a{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color:#333;
}

#logo_block{
    width:500px;
    display: inline-block;
    margin-bottom: 10px;
}

#logo_text{
    font-size: 30px;
    color:#333;
    font-weight: 300;
}

.result-message{
  font-size: 50px;
}


footer{
  font-size: 12px;
  margin-top:100px;
  background-color: #39424c;
  padding:40px;
  color:#b2bbc3;
}

footer #brand{
  border-bottom: 1px solid gray;
  padding: 0 0 12px 0;
  margin-bottom: 10px;
}

#brand span{
  font-size: 14px;
  display: inline;
  vertical-align: baseline;
}

#footer_info span strong{
  color:#b2bbc3;
  font-weight: 300;
}
#footer_info span{
  margin-right: 50px;
  color:#647586
}

