

body {
  
    font-family: 'Jua', sans-serif;
    background-color:rgb(230, 255, 204)
  }

  canvas{
    margin: 0 auto;
}

#navigation{
  width: 100%;
  height: 60px;
  padding-left: 5%;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  text-align: center;
  
}


#container{
  width: 100%;
  height: 100%;
  position:relative;
}

#inner_container{
  width: 50%;
  height: 1000px;
  border-radius: 30px;
  background-color: white;
  margin:0 auto;
}


  

  #logo_container,#file_container
  {
    text-align: center;
    display: none;
  }

  #logo_container{
    animation-duration: 1s;
    animation-name: slidein;
  }

  #file_container{
    animation-duration: 1.5s;
    
    animation-name: slidein2;
    margin-bottom:40px;
    padding-bottom: 50px;
  }

  #result_container{
    width: 400px;
    height:350px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 40px;
  }

  .file-upload {
    background-color: #ffffff;
    width: 400px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 40px;

  }

  .file-upload:hover{
    box-shadow:rgb(204, 255, 204) 0 0 10px 5px;
  }


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
      
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      
    }
  }

  @keyframes slidein2 {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      
    }
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  /* .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  } */
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    position: relative;
  }
  
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 70;
    text-transform: uppercase;
    padding: 40px 0;
    font-size: 20px;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }



#logo_block{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}

#logo_text{
    font-size: 30px;
    color:#333;
    font-weight: 300;
}

.result-message{
  font-size: 30px;
}


footer{
  font-size: 12px;
  margin-top:100px;
  background-color: #39424c;
  padding:40px;
  color:#b2bbc3;
}

footer #brand{
  border-bottom: 1px solid gray;
  padding: 0 0 12px 0;
  margin-bottom: 10px;
}

#brand span{
  font-size: 14px;
  display: inline;
  vertical-align: baseline;
}

#footer_info span strong{
  color:#b2bbc3;
  font-weight: 300;
}
#footer_info span{
  margin-right: 50px;
  color:#647586
}

#loading {
  display: none;
}

#lodingimg{
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 20px;
}



/* 버튼 */
* {
  box-sizing: border-box;
}

:root {
  --background: #E5FFB3;
  --background-accent: #DBF8A3;
  --background-accent-2: #BDE66E;
  --light: #92DE34;
  --dark: #69BC22;
  --text: #025600;
}

#showButton {
  visibility: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 140px;
  height: 50px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
}

#showButton:hover {
  width: 170px;
}



  /* 결과이미지 */

.result-image{
  display: none;
}

#label-container {
  width: 40%;
  margin: 0 auto;
}

.animal-label {
  width: 20%;
  text-align: left;
  height: 2rem;
}

.bar-container {
  height: 2.7rem;
}

.percent-text {
  font-size: 1rem;
  color: #ffffff;
}


.test1-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.test1-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}


.test2-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color:rgba(49, 132, 155, 0.2);
}
.test2-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}



.test3-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.test3-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}



.test4-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.test4-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color:rgba(251, 176, 59, 1);
}

#result-box1{
  text-align: center;
}

